5 карт если это Английский дурак;
4 карты- игра Фараон (Русский)
6 карт- игра Чешский дурак

Туз – 11 очков
Король 4 очка
Дама – 3 очка
Валет – 2 очка
10 – 10 очков
9 — 0 очков
8 — 8 очков
7 — 7 очков
6 – 6 очков

Если игрок набрал больше 101 очка, то он проиграл. Если игрок набрал ровно 101 очков, то его счет обнуляется. Игра продолжается до выбывания игроков или пока один из участников не выложит все свои карты.

Дама может выходить на любую карту и заказать любую масть. Если на ней закончится партия, выложившему её спишут 20 очков (а за бубновую — 40)

A (масть любая) - следующий игрок пропускает ход
K♠ - следующий игрок добирает из колоды 4 карты и пропускает ход
Q (масть любая) - игрок, которому пренадлежит ход, должен выбрать масть карты для следующего хода. Дамы можно класть на любые карты в том числе и на дамы.
9 (масть любая) - право следующего хода остается за игроком, которому пренадлежит ход
7 (масть любая) - следующий игрок добирает из колоды 2 карты и пропускает ход
6 (масть любая) - следующий игрок добирает из колоды 1 карту и пропускает ход

Кол-во игроков: от 2
Кол-во карт в колоде: 36
Старшинство карт: 6,7,8,9,10,J,Q,K,A
Стоимость карт в соответствии со старшинством: 6,7,8,0,10,2,3,4,11
Цель игры: набрать наименьшее количество очков
Описание:
Право первого хода переходит по часовой стрелке от игрока к игроку. Каждому игроку раздается по 5 карт, в то время как сдатчик кладет себе 4, а 5ая является его ходом и кладется в открытом виде на стол. Оставшаяся колода кладется рядом с открытой картой. Следующий игрок слева от сдатчика в ответ на открытую карту должен положить карту такого же достоинства либо такой же масти. Если такой карты у игрока нет, то он обязан добирать карты из колоды до тех пор, пока ему не достанется нужная для хода карта. После того, как игрок походил, ход переходит к следующему игроку по часовой стрелке и правило хода повторяется. Игра идет до тех пор, пока кто-нибудь первым не избавится от всех своих карт на руках. После окончания игры подсчитываются игровые очки - сумма стоимостей карт на руках с учетом уже набранного количества очков. Если последней картой была скинута дама, то игрок списывает 20 очков со своего счета, если дама была пиковой, то 40.
Игрок, набравший суммарное количество очков > 101, выбывает из игры, и она продолжается без него. Если игрок набирает ровно 101 очко, то его совокупный игровой счет обнуляется. Побеждает тот, кто вытолкнет всех игроков из игры, набрав меньше всего очков.


Если колода закончилась до того, как у игроков сброшены карты, две последние карты из колоды оставляют сверху, остальные тасуют и кладут под низ. Игра продолжается

Если игрок не имеет нужной карты, он берет карту из колоды. В следующий раз взять карту можно только после того, как свой ход сделали остальные игроки.
Выигрывает первый оставшийся без карт.
//Игрок перед которым сделали ход семеркой берет 2 карты и пропускает ход,
//Игрок перед которым положили короля пик (“мавра”) берет 3 карты и пропускает ход.
Игрок выложивший шестерку— делает повторный ход.
Игрок перед которым положили туз- пропускает ход.
Дама может играть с любой картой и выбирать, “заказывать” любую масть. Если партия закончится на даме, игрок который ее выложил вычитает у себя 20 очков (если дама бубновая игрок вычитает 40 очков).
В случае если дама останется на руках- очки наоборот прибавляют. Чем быстрее вы избавитесь от всех дам, тем лучше.

Количество колод: 1
Количество карт в колоде: 36
Количество игроков: 2 - 4
Старшинство карт: 6, 7, 8, 9, 10, В, Д, К, Т.
Цель игры: набрать наименьшее количество очков.
Правила игры. Достаточно популярная игра на территории России и бывших стран СНГ. Для того, чтобы играть, требуется колода из 36-и карт и от 2-х до 4-х игроков. Первый сдатчик карт в игре определяется жребием, в следующих играх  игроки сдают карты по очереди. Колода тщательно тасуется, снимается и каждому игроку сдается по 5 карт. Сдатчик сдает себе 4 карты, а пятая карта кладется на кон. Оставшаяся колода кладется по центру стола в закрытом виде. Игрок слева от сдатчика продолжает игру. Он должен положить на пятую карту сдатчика карту такой же масти, или карту такого же значения, если такой карты нет, то игрок берет из колоды одну карту и если эта карта не подходит, то игрок пропускает ход. Некоторые карты имеют свои особенности в игре, а именно: тузы, дамы, пиковый король, девятки, семерки и шестерки.

Туз необходимо класть только в масть, либо на другого туза. Туз запрещает ход следующему игроку. При игре вдвоем ход остается у игрока. Если играют втроем или вчетвером, то ход переходит через одного игрока.
Дамы могут ложиться на любую карту и на любую масть. Игрок, который положит даму, заказывает для себя выгодную масть и ход переходит к следующему игроку. Если игрок закончил игру на любую даму, то у него отнимается 20 очков, если игрок закончил игру на пиковую даму, то у него отнимается 40 очков.
Пикового короля можно положить только на короля любой масти и на любую пиковую карту. Следующий игрок, который ходит, берет из колоды 4 карты и пропускает ход.
Если игрок положит девятку, то он должен ее закрыть той же мастью или девяткой. Девятку должен снова закрыть той же мастью. Если у игрока нет таких карт, то игрок берет карты из колоды до тех пор, пока не закроет девятку.
Семерку можно положить только на семерку или в масть, следующий игрок берет две карты из колоды и пропускает ход.
Шестерку можно положить только на шестерку или в масть, следующий игрок берет одну карту из колоды и пропускает ход.

Стоимость карт в очках: туз - 11 очков, 10 - 10 очков, 8 - 8 очков, 7 - 7 очков, 6 - 6 очков, король - 4 очка, дама - 3 очка, валет - 2 очка, 9 - 0 очков. Если у игрока 0 очков и он закончил на даму, то ему засчитывается минус 20 очков. Игра идет до тех пор, пока у одного из игроков не останется ни одной карты, или до тех пор, пока кто-нибудь из игроков не наберет более 101 очка. Тот игрок, который наберет более 101 очка, считается проигравшим. Если какой-либо игрок наберет 101 очко, то его счет обнуляется.s


########################################################################

Коллизии наложения карт.

ActorGestureListener()
ChangeListener()
ShapeRenderer
Gdx.input.setInputProcessor

Stack<Player> players = new Stack<Player>();
		players.push(new Player("Dealer"));
		players.push(new Player("Steve"));

this.setScreen(new BlackjackScreen(this, players));


